*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 1px;
}
#nav{
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight:bold;
    font-family: monospace;
    letter-spacing: -2px;
}
#nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 28px;
    font-weight: 600;
}

#nav h2:nth-last-child(1){
    width: 15%;
}
#center{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 4vw;
    background-color: #F8F8F8;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #F8F8F8;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #fff;
    /* background-color: #00000018;
    backdrop-filter: blur(1px); */
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}
#over1 h1{
    font-family: monospace;
    font-size: 3vw;
}
#over1 h2{
    font-size: 1vw;
    padding: 2.2vw 2.4vw;
    border-radius: 50%;
    border: 2px solid #fff;
    border: 3px solid #fff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0vw;
}
#over2 h4{
    font-size: 1vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%; 
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 110%;
    width: 15%;
    border-radius: 50%;
    margin: 1vw;
    object-fit: cover;
    object-position: top;
}

@keyframes anime{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 3px;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 3px;
    padding: 0.5vw 0.7vw;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 2px solid #000;
}

#page2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1526510747491-58f928ec870f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}
#page2-part1 h1{
    position: absolute;
    left: 0;
    bottom: -7%;
}

#page2-part2{
    height: 100%;
    width: 45%;
}
#page2-part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
#text{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
#lefttext{
    padding: 20px 200px 8px 2px;
    height: 100%;
    width: 50%;

}
#righttext{
    height: 100%;
    width: 50%;
    padding: 20px 150px 8px 2px;
}

#page3{
    width: 100%;
    height: 100%;
    padding: 2.6vw 2.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
#page3-left{
    width: 40%;
    height: 70%;
    padding: 5vw 7vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
#page3-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3-left h4{
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 25%;
}

#page3-right{
    width: 50%;
    height: 90%;
    background-image: url(https://images.unsplash.com/photo-1513379733131-47fc74b45fc7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-right: 3vw;
}
#page4{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 img{
    width: 80%;
    height: 80%;
}
#page5{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5vw 4vw;
}
#page5>h1{
    text-align: center;
    font-family:fantasy;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 0.1vw;
    margin-bottom: 5vh;
}
.elem{ 
    height: 15vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}
.elem img{
    height: 90px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}
.elem .elem-part2{
    width: 45%;
}

.elem-part2 h1{
    font-size: 2vw;
    font-weight: 600;
}

.elem-part2 h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
.elem:nth-last-child(3) img{
    left: 42%;
}
.elem:nth-last-child(1) img{
    left: 42%;
}
.elem:hover{
    background-color: #e6e6e6;
}
.elem:hover img{
    opacity: 1;
    left: 27%;
}

#page6{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3vw 8vw;
    gap: 4vw;
}
#left-page6{
    width: 40%;
    height: 90%;
}

#left-page6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#right-page6{
    width: 45%;
    height: 90%;
}
#top-right-page6{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
#top-right-page6 h1{
    width: 100%;
    height: 20%;
    padding: 1vw;
    font-size: 3vw;
    margin-bottom: 1vw;
}
#top-right-page6 h3{
    width: 50%;
    height: 40%;
    padding: 1vw;
}
#top-right-page6 p{
    width: 100%;
    height: 40%;
    padding: 1vw;
}
#bottom-right-page6{
    width: 100%;
    height: 50%;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#bottom-right-page6 #img1{
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#bottom-right-page6 #img2{
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page7{
    width: 100%;
    height: 100%;
    padding: 2vw 2.4vw;
    position: relative;
}
#page7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page7 p{
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8%;
    right: 5%;
    border: 2px solid #000;
    border-radius: 50%;
}
#page8{
    width: 100%;
    height: 100%;
    padding: 3vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}
#left-page8{
    width: 40%;
    height: 100%;
}

#left-page8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#right-page8{
    width: 40%;
    height: 100%;
    padding: 2vw 2vw;
}
#top-right-page8{
    width: 90%;
    height: 70%;
    margin-bottom: 1vw;
}
#top-right-page8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#bottom-right-page8{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#left-bottom-right-page8 {
    width: 50%;
    height: 100%;
}
#left-bottom-right-page8 h3{
    padding-right: 5vw;
    font-size: 1.3vw;
}

#right-bottom-right-page8{
    width: 50%;
    height: 100%;
}