*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 1px;
}
#nav{
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight:bold;
    font-family: monospace;
    letter-spacing: -2px;
}
#nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 28px;
    font-weight: 600;
}

#nav h2:nth-last-child(1){
    width: 15%;
}
#center{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 4vw;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #fff;
    /* background-color: #00000018;
    backdrop-filter: blur(1px); */
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}
#over1 h1{
    font-family: monospace;
    font-size: 3vw;
}
#over1 h2{
    font-size: 1vw;
    padding: 2.2vw 2.4vw;
    border-radius: 50%;
    border: 2px solid #fff;
    border: 3px solid #fff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0vw;
}
#over2 h4{
    font-size: 1vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%; 
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 110%;
    width: 15%;
    border-radius: 50%;
    margin: 1vw;
    object-fit: cover;
    object-position: top;
}

@keyframes anime{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 3px;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 3px;
    padding: 0.5vw 0.7vw;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 2px solid #000;
}

#page2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2-part1{
    height: 100%;
    width: 40%;
    background-image: url();
}
